@font-face {
  font-family: 'pfdintextprobold';
  src: url('../fonts/pfdintextprobold.ttf');
}
@font-face {
  font-family: 'pfdintextproregular';
  src: url('../fonts/pfdintextproregular.ttf');
}
@font-face {
  font-family: 'pfdintextprolight';
  src: url('../fonts/pfdintextprolight.ttf');
}
@font-face {
  font-family: 'pfdintextprothin';
  src: url('../fonts/pfdintextprothin.ttf');
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.container {
  width: 990px;
  min-width: 990px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}
h3 {
  margin: 0 0 40px;
  font-size: 36px;
  line-height: 28px;
  font-family: 'pfdintextprolight', sans-serif;
  font-weight: lighter;
  color: #fff;
  text-transform: uppercase;
}
body {
  font-family: 'pfdintextproregular.ttf', sans-serif;
  font-style: normal;
  min-width: 990px;
  background: url('../img/body-bg.png') repeat top left;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 990px;
  height: 772px;
  background: url('../img/header-bg.png') no-repeat center top;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
header {
  padding: 50px 0;
}
.menu-top {
  position: fixed;
  top: 0;
  right: 125px;
  z-index: 100;
  background: url('../img/menu-bg.png') repeat-x left center rgba(0, 0, 0, 0.1);
}
.menu-top li {
  display: inline-block;
  vertical-align: top;
  margin: 0 2px;
}
.menu-top li a {
  display: block;
  padding: 10px 15px;
  font-size: 12px;
  color: #d6d4d4;
  text-transform: uppercase;
  font-family: 'pfdintextprothin', sans-serif;
  text-decoration: none;
}
.menu-top li:first-child:hover {
  background: url('../img/menu-bg.png') repeat-x left center;
}
.menu-top li a:hover {
  background: url('../img/menu-bg.png') repeat-x left 0.5px center;
}
.menu-top .order a {
  color: #d7ad1e;
  text-decoration: underline;
}
.menu-top .order a:hover {
  background: none;
  text-decoration: none;
}
.logo {
  display: block;
  width: 315px;
  height: 85px;
  margin-top: 30px;
  background: url('../img/logo.png');
}
.header-title {
  margin: 50px 50px 0 0;
  font-size: 30px;
  line-height: 28px;
  color: #fff;
  font-weight: normal;
  font-family: 'pfdintextproregular', sans-serif;
  text-transform: uppercase;
}
.header-title span {
  font-family: 'pfdintextprobold', sans-serif;
  display: block;
  color: #fecb1a;
}
.block1 h3 {
  width: 190px;
  margin-top: 25px;
}
.about-desc {
  width: 545px;
}
.about-desc p {
  font-size: 14px;
  line-height: 20px;
  color: #fcdba9;
  font-family: 'Trebuchet MS';
}
.about-icons {
  margin-right: -10px;
  width: 350px;
  padding: 40px 10px;
  border: 2px dashed #5f5f5f;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
.about-icons .single-icon {
  padding-left: 85px;
}
.about-icons .title {
  margin: 0;
  font-size: 18px;
  color: #fff;
  font-family: 'pfdintextprobold', sans-serif;
  text-transform: uppercase;
}
.about-icons .desc {
  color: #fecb1a;
  font-size: 12px;
  font-family: 'pfdintextproregular', sans-serif;
}
.about-icons .about-icon {
  margin-bottom: 45px;
  background: url('../img/about-icon.png') no-repeat left top 20px;
}
.about-icons .auditory-icon {
  background: url('../img/auditory-icon.png') no-repeat left top;
}
.block2 {
  padding: 55px 0;
}
.advantages-list {
  text-align: center;
}
.advantages-list .advantage-single {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}
.advantages-list .advantage-single .img-wrapper {
  height: 90px;
}
.advantages-list .advantage-single .desc {
  margin: 0;
  padding-right: 12px;
  font-size: 16px;
  text-align: left;
  color: #ffda91;
  font-family: 'pfdintextprothin', sans-serif;
  line-height: 20px;
  text-transform: uppercase;
}
.block3 {
  padding: 50px 0;
}
.results-block {
  width: 615px;
  padding-left: 135px;
  background: url('../img/results-icon.png') no-repeat left center;
  list-style-image: url('../img/arrow-left-white.png');
}
.results-block ul {
  margin-top: 10px;
  font-family: 'Trebuchet MS';
}
.results-block ul li {
  color: #8f9199;
  font-size: 16px;
  line-height: 36px;
  text-transform: uppercase;
}
.examples-block {
  margin-top: 10px;
  width: 335px;
}
.examples-block .title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: #999;
  text-transform: uppercase;
  font-family: 'pfdintextprothin', sans-serif;
}
.examples-block .links {
  margin-top: 20px;
  padding-left: 85px;
  min-height: 90px;
  background: url('../img/examples-icon.png') no-repeat left center;
}
.examples-block .links a {
  display: block;
  margin-bottom: 10px;
  color: #78787d;
  font-size: 14px;
  font-family: 'Trebuchet MS';
  font-weight: bold;
}
.examples-block .links a:hover {
  text-decoration: none;
}
.block4 {
  padding: 50px 0;
}
.prices-block {
  width: 545px;
}
.price-title {
  margin: 15px 0;
  font-family: 'pfdintextprothin', sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #999;
  text-transform: uppercase;
}
.single-price {
  margin-bottom: 10px;
  display: table;
  font-size: 12px;
  color: #dfdfdf;
  font-family: 'Trebuchet MS';
  text-transform: uppercase;
}
.tb-service {
  width: 355px;
  display: inline-block;
}
.tb-divider {
  width: 100%;
  background: url('../img/dots.png') repeat-x center 10px;
  display: table-cell;
}
.tb-price {
  vertical-align: top;
  padding-left: 5px;
  color: #b29364;
  white-space: nowrap;
  display: table-cell;
}
.tb-price span {
  color: #fecb1a;
}
.payment-block {
  width: 335px;
}
.payment-block .payment-title {
  margin: 5px 0 15px;
  font-family: 'pfdintextprothin', sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #999;
  text-transform: uppercase;
}
.payment-block .payment-desc {
  font-size: 13px;
  line-height: 18px;
  color: #979797;
  font-family: 'Trebuchet MS';
}
.block5 {
  padding: 60px 0;
}
.steps-list {
  margin-top: 10px;
}
.steps-list .arrow-left {
  display: inline-block;
  width: 8px;
  height: 29px;
  background: url('../img/arrow-left-yellow.png') no-repeat center center;
  vertical-align: 15px;
  margin: 30px 10px 0;
}
.steps-list .step-single {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  width: 130px;
  height: 85px;
  padding: 25px 9px;
  border: 2px dashed #ffda91;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.steps-list .step-4 {
  padding: 35px;
}
.steps-list .title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #ffda91;
  font-family: 'pfdintextprothin', sans-serif;
  text-transform: uppercase;
}
.steps-list .star {
  position: absolute;
  width: 24px;
  height: 22px;
  top: -12px;
  right: -12px;
  background: url('../img/star-icon.png') no-repeat center center;
}
.notice {
  width: 290px;
  margin-top: 20px;
  padding-top: 15px;
  padding-left: 30px;
  background: url('../img/star-icon.png') no-repeat left top 15px;
  border-top: 2px dashed #5f5f5f;
}
.notice p {
  margin: 0;
  font-size: 10px;
  color: #ffda91;
  font-family: 'Trebuchet MS';
}
.block6 {
  padding: 50px 0;
}
.order-form {
  margin-top: 20px;
}
.inputs.to-left {
  width: 470px;
}
.inputs.to-right {
  width: 480px;
  padding-left: 10px;
}
input[type=text],
input[type=email] {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  background: #fff;
  font-size: 14px;
  color: #606060;
  font-family: 'Trebuchet MS';
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  box-shadow: inset 0 0 6px #333;
}
textarea {
  width: 100%;
  height: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  resize: none;
  outline: none;
  background: #fff;
  font-size: 14px;
  color: #606060;
  font-family: 'Trebuchet MS';
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  box-shadow: inset 0 0 6px #333;
}
.form-title {
  margin: 5px 0 15px;
  font-family: 'pfdintextprothin', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #999;
  text-transform: uppercase;
}
.checkbox {
  height: 30px;
  margin-bottom: 5px;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  vertical-align: top;
  font-size: 14px;
  font-family: 'Trebuchet MS';
  color: #c1c1c0;
  cursor: pointer;
}
input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  height: 31px;
  width: 29px;
  margin: -5px 11px 0 0;
  background: url('../img/checkbox.png') no-repeat center center;
}
input[type="checkbox"]:checked + label::before {
  background: url('../img/checkbox-checked.png') no-repeat center center;
}
input[type=submit] {
  width: 251px;
  height: 65px;
  margin-top: 10px;
  border: none;
  outline: none;
  background: url('../img/submit-btn-bg.png') no-repeat center center;
  font-size: 22px;
  color: #fce18e;
  font-family: 'pfdintextprobold', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
input[type=submit]:hover {
  opacity: 0.8;
}
footer {
  padding: 55px 0;
  background: url('../img/footer-bg.png') repeat top left;
  font-size: 'Arial';
}
.logo-bottom {
  margin-left: 30px;
  font-size: 14px;
  color: #707070;
  text-decoration: none;
}
.desc-bottom {
  margin: 0;
  width: 270px;
  margin-left: 10px;
  font-size: 12px;
  color: #707070;
}
.ask {
  display: block;
  margin-left: 170px;
  font-size: 14px;
  color: #fce18e;
}
.ask:hover {
  text-decoration: none;
}
.email-bottom {
  display: block;
  margin-right: 40px;
  font-size: 14px;
  color: #707070;
}
.email-bottom:hover {
  text-decoration: none;
}
